<ion-header>
  <ion-toolbar>   
    <ion-buttons slot="start">     
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back-sharp" style="font-size: 22px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Productos en el carro</ion-card-title>          
        </ion-card-header>
        <ion-card-content>
          <ion-list>           
            <ion-item *ngFor="let item of arrayCarro">
              <ion-thumbnail slot="start" style="max-width: 30px;max-height: 30px;">
                <ion-img alt="{{ item.nombreProducto }}" src="{{url_proyecto}}/images/{{item.fotoProducto}}" ></ion-img>
              </ion-thumbnail>              
              <ion-label>{{ item.cant }} x {{ item.nombreProducto | slice:0:15 }}</ion-label>              
              <ion-label style="max-width: 90px;text-align:right;">$ {{ item.precio }}</ion-label>
              <ion-label  style="max-width: 90px;text-align:right;">$ {{ item.precio * item.cant }}</ion-label>
              <ion-label  style="max-width: 30px;text-align:right;" (click)="delete(item.idProducto)"><ion-icon name="close-sharp" style="color:red;"></ion-icon></ion-label>
            </ion-item>
            <ion-item>
              <ion-label style="max-width: 20px;max-height: 30px;"></ion-label>
              <ion-label></ion-label>
              <ion-label style="max-width: 50px;text-align:right;">Total: </ion-label>
              <ion-label style="max-width: 110px;text-align:right;">$ {{totalSuma}}</ion-label>
              <ion-label style="max-width: 10px;text-align:right;"></ion-label>
            </ion-item> 
            
            <ion-item style="text-align: center;" *ngIf="totalSuma!==0">
              <ion-label style="max-width: 30px;max-height: 30px;"></ion-label>
              <ion-label></ion-label>
              <ion-label style="max-width: 30px;text-align:right;"> </ion-label>
              <ion-label style="max-width: 20px;text-align:right;"></ion-label>
              <ion-label style="max-width: 110px;text-align:right; color:#115c2b;" (click)="vaciarCarro()"> <ion-icon name="trash-bin-sharp"></ion-icon> Vaciar</ion-label>
            </ion-item>              
          </ion-list>          
        </ion-card-content>
      </ion-card>    
</ion-grid>
<ion-row style="text-align: center;" *ngIf="totalSuma!==0">
  <ion-col></ion-col> 
  <ion-col><label style="font-weight: bold;">PAGAR</label></ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row style="text-align: center;" *ngIf="totalSuma!==0">
  <ion-col></ion-col>
  <ion-col><ion-button (click)="pagarUala()">Uala</ion-button></ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row style="text-align: center;" *ngIf="totalSuma!==0">
  <ion-col></ion-col>
  <ion-col><ion-button (click)="pagarMercadopago()">Mercadopago</ion-button></ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row style="text-align: center;" *ngIf="totalSuma!==0">
  <ion-col></ion-col>
  <ion-col><ion-button (click)="transferencia()">Transferencia</ion-button></ion-col>
  <ion-col></ion-col>
</ion-row>
</ion-content>