        <ion-tabs>
          <ion-tab-bar translucent="true" class="custom-tab-bar">
        
           <!--
            <ion-tab-button tab="tab3" >
              <ion-icon name="document-text-sharp" style="font-family: 'Helvetica';color:#115c2b;"></ion-icon>
              <label style="font-family: 'Helvetica';color:#115c2b;">Ordenes</label>
            </ion-tab-button>

           --> 
            
             
    
            <ion-tab-button   tab="tab1">
              <ion-icon name="home-sharp" style="font-family: 'Helvetica';color:#115c2b;"></ion-icon>
              <label style="font-family: 'Helvetica';color:#115c2b;">Inicio</label>
            </ion-tab-button>
        
            <ion-tab-button   (click)="presentActionSheet()">
              <ion-icon name="information-circle-sharp" style="font-family: 'Helvetica';color:#115c2b;"></ion-icon>
              <label style="font-family: 'Helvetica';color:#115c2b;">Info</label>
            </ion-tab-button>
          </ion-tab-bar>  
        </ion-tabs>
      
 