        <ion-tabs>
          <ion-tab-bar translucent="true" class="custom-tab-bar">
        
           
            <ion-tab-button tab="tab3" >
              <ion-icon color="primary" name="document-text-sharp" style="font-family: 'Helvetica';"></ion-icon>
              <label style="font-family: 'Helvetica';" color="primary">Ordenes</label>
            </ion-tab-button>

           
            
             
    
            <ion-tab-button   tab="tab1">
              <ion-icon color="primary" name="home-sharp" style="font-family: 'Helvetica';"></ion-icon>
              <label style="font-family: 'Helvetica';" color="primary">Inicio</label>
            </ion-tab-button>
        
            <ion-tab-button   (click)="presentActionSheet()">
              <ion-icon color="primary" name="information-circle-sharp" style="font-family: 'Helvetica';"></ion-icon>
              <label style="font-family: 'Helvetica';" color="primary">Info</label>
            </ion-tab-button>

            
          </ion-tab-bar>  
        </ion-tabs>
      
 