<ion-header>
  <ion-toolbar>   
    <ion-buttons slot="start">     
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back-sharp" style="font-size: 22px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  
  <ion-card-header style="
    display: flex;
    justify-content: center;    
    margin-left: 0;">
    <ion-img alt="{{nombreProducto}}" src="{{urlRoot}}/images/{{fotoProducto}}" 
    style="max-width:300px;max-height: 300px;"></ion-img>
  </ion-card-header>
  <ion-card-header>
    <ion-card-title><span style="font-weight:bold;font-size: 22px;">{{nombreProducto}}</span></ion-card-title>    
  </ion-card-header>

  <ion-card-content style="font-size: 20px;">
    {{descripcionProducto}}
  </ion-card-content>

  <ion-card-content>
    <span style="font-weight:bold; font-size: 22px;" color="primary">
    Precio:</span><span style="font-size: 22px;" > US$ {{precioProducto}}
    </span>
  </ion-card-content>

  <ion-card-content style="text-align: center;">
    <ion-row> 
      <ion-col (click)="decrementar(idProducto)">
        <ion-icon name="remove-circle-outline" style="font-size:24px;"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-label>{{ cantidadesPorProducto[idProducto] || 1 }}</ion-label>
      </ion-col>
      <ion-col (click)="incrementar(idProducto)">                  
        <ion-icon name="add-circle-outline" style="font-size:24px;"></ion-icon>
      </ion-col>      
    </ion-row>            
  </ion-card-content>

  <ion-card-content style="text-align: center;">
  <ion-button fill="outline" class="tab1IonButton"
        (click)="add(idProducto,nombreProducto,fotoProducto,precioProducto)">Añadir al carrito</ion-button>
  </ion-card-content>
  <ion-card-header>
    
  </ion-card-header>
  
</ion-card>
</ion-content>