body{
  margin-top:20px;
  background:#eee;
}


.info-combo > h3 {
  margin: 3px 0;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.info-combo > h5 {
  margin: 2px 0 6px 0;
}
/* Messages */
.messages-panel img.img-circle {
  border: 1px solid rgba(0,0,0,0.1);
}

.medium-image {
  width: 45px;
  height: 45px;
  margin-right: 5px;
}

.img-circle {
  border-radius: 50%;
}
.messages-panel {
width: 100%;
height: calc(100vh - 150px);
min-height: 460px;
background-color: #fbfcff;
display: inline-block;
border-top-left-radius: 5px;
margin-bottom: 0;
}

.messages-panel img.img-circle {
border: 1px solid rgba(0,0,0,0.1);
}

.messages-panel .tab-content {
border: none;
background-color: transparent;
}

.contacts-list {
background-color: #fff;
border-right: 1px solid #cfdbe2;
width: 305px;
height: 100%;
border-top-left-radius: 5px;
float: left;
}


.message-body {
background-color: #fbfcff;
height: 100%;
width: calc(100% - 305px);
float: right;
}

.message-body .message-top {
display: inline-block;
width: 100%;
position: relative;
min-height: 53px;
height: auto;
background-color: #fff;
border-bottom: 1px solid rgba(205,211,237,0.5);
}

.message-body .message-top .new-message-wrapper {
width: 100%;
}


.bordeMensajero{
  margin-left:5px;
  padding-left:10px;
  border-color: #eee;
  border-width: 1px;
  box-sizing: border-box;
  border-style: solid;}

  ion-input.bordeMensajero {
    --background: #fff;
    --color: #6742e0d5;
    --placeholder-color: #ddd;
    --placeholder-opacity: .8;

    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
  }

.message-body .message-top > .btn {
height: 53px;
line-height: 53px;
padding: 0 20px;
float: right;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
margin: 0;
font-size: 15px;
opacity: 0.9;
}

.message-body .message-top > .btn:hover,
.message-body .message-top > .btn:focus,
.message-body .message-top > .btn.active {
opacity: 1;
}

.message-body .message-top > .btn > i {
margin-right: 5px;
font-size: 18px;
}

.new-message-wrapper {
position: absolute;
max-height: 400px;
top: 53px;
background-color: #fff;
z-index: 105;
padding: 20px 15px 30px 15px;
border-bottom: 1px solid #cfdbe2;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
box-shadow: 0 7px 10px rgba(0,0,0,0.25);
transition: 0.5s;
display: none;
}

.new-message-wrapper.closed {
opacity: 0;
max-height: 0;
}

.chat-footer.new-message-textarea {
display: block;
position: relative;
padding: 0 10px;
}

.chat-footer.new-message-textarea .send-message-button {
right: 35px;
}

.chat-footer.new-message-textarea .upload-file {
right: 85px;
}

.chat-footer.new-message-textarea .send-message-text {
padding-right: 100px;
height: 90px;
}

.message-chat {
width: 100%;
overflow: hidden;
}

.chat-body {
width: calc(100% + 17px);
min-height: 290px;
height: calc(100vh - 320px);
background-color: #fbfcff;
margin-bottom: 30px;
padding: 30px 5px 5px 5px;
overflow-y: scroll;
}

.message {
position: relative;
width: 100%;
}

.message br {
clear: both;
}

.message .message-body {
position: relative;
width: auto;
max-width: calc(100% - 150px);
float: left;
background-color: #fff;
border-radius: 4px;
border: 1px solid #dbe3e8;
margin: 0 5px 20px 15px;
color: #788288;
}

.message:after {
content: "";
position: absolute;
top: 11px;
left: 63px;
float: left;
z-index: 100;
border-top: 10px solid transparent;
border-left: none;
border-bottom: 10px solid transparent;
border-right: 13px solid #fff;
}

.message:before {
content: "";
position: absolute;
top: 10px;
left: 62px;
float: left;
z-index: 99;
border-top: 11px solid transparent;
border-left: none;
border-bottom: 11px solid transparent;
border-right: 13px solid #dbe3e8;
}

.message .medium-image {
float: left;
margin-left: 10px;
}

.message .message-info {
width: 100%;
height: 22px;
}

.message .message-info > h5 > i {
font-size: 11px;
font-weight: 700;
margin: 0 2px 0 0;
color: #a2b8c5;
}

.message .message-info > h5 {
color: #a2b8c5;
margin: 8px 0 0 0;
font-size: 12px;
float: right;
padding-right: 10px;
}

.message .message-info > h4 {
font-size: 14px;
font-weight: 600;
margin: 7px 13px 0 10px;
color: #6742e0d5;
float: left;
}

.message hr {
margin: 4px 2%;
width: 96%;
opacity: 0.75;
}

.message .message-text {
text-align: left;
padding: 3px 13px 10px 13px;
font-size: 14px;
}

.message.my-message .message-body {
float: right;
margin: 0 15px 20px 5px;
}

.message.my-message:after {
content: "";
position: absolute;
top: 11px;
left: auto;
right: 63px;
float: left;
z-index: 100;
border-top: 10px solid transparent;
border-left: 13px solid #fff;
border-bottom: 10px solid transparent;
border-right: none;
}

.message.my-message:before {
content: "";
position: absolute;
top: 10px;
left: auto;
right: 62px;
float: left;
z-index: 99;
border-top: 11px solid transparent;
border-left: 13px solid #dbe3e8;
border-bottom: 11px solid transparent;
border-right: none;
}

.message.my-message .medium-image {
float: right;
margin-left: 5px;
margin-right: 10px;
}

.message.my-message .message-info > h5 {
float: left;
padding-left: 10px;
padding-right: 0;
}

.message.my-message .message-info > h4 {
float: right;
}

.message.info .message-body {
background-color: #6742e0d5;
border: 1px solid #6742e0bb;
color: #fff;
}

.message.info:after, .message.info:before {
border-right: 13px solid #6742e0d5;
}

.message.success .message-body {
background-color: #0ec8a2;
border: 1px solid #0ec8a2;
color: #fff;
}

.message.success:after, .message.success:before {
border-right: 13px solid #0ec8a2;
}

.message.warning .message-body {
background-color: #ff9e2a;
border: 1px solid #ff9e2a;
color: #fff;
}

.message.warning:after, .message.warning:before {
border-right: 13px solid #ff9e2a;
}

.message.danger .message-body {
background-color: #f95858;
border: 1px solid #f95858;
color: #fff;
}

.message.danger:after, .message.danger:before {
border-right: 13px solid #f95858;
}

.message.dark .message-body {
background-color: #314557;
border: 1px solid #314557;
color: #fff;
}

.message.dark:after, .message.dark:before {
border-right: 13px solid #314557;
}

.message.info .message-info > h4, .message.success .message-info > h4,
.message.warning .message-info > h4, .message.danger .message-info > h4,
.message.dark .message-info > h4 {
color: #fff;
}

.message.info .message-info > h5, .message.info .message-info > h5 > i,
.message.success .message-info > h5, .message.success .message-info > h5 > i,
.message.warning .message-info > h5, .message.warning .message-info > h5 > i,
.message.danger .message-info > h5, .message.danger .message-info > h5 > i,
.message.dark .message-info > h5, .message.dark .message-info > h5 > i {
color: #fff;
opacity: 0.9;
}

.chat-footer {
position: relative;

padding: 0 80px;
}

.chat-footer .send-message-text {
position: relative;
display: block;

background-color: #fff;
border-radius: 5px;
padding: 5px 95px 5px 10px;
font-size: 13px;
resize: vertical;
outline: none;
border: 1px solid #e0e6eb;
}

.chat-footer .send-message-button {
display: block;

margin: auto;
border: 1px solid rgba(0,0,0,0.05);
outline: none;
font-weight: 600;
border-radius: 50%;
padding: 0;
}
.chat-footer .send-message-button > i {
font-size: 16px;
margin: 0 0 0 -2px;
}
/* Profile page */

.profile-main {
background-color: #fff;
border: 1px solid #dce2e9;
border-radius: 3px;
position: relative;
margin-bottom: 20px;
}



