<ion-header>
  <ion-toolbar>   
    <ion-buttons slot="start">     
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back-sharp" style="font-size: 22px;color:#5BA4C0;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  
  <ion-card-header style="
    display: flex;
    justify-content: center;    
    margin-left: 0;">
    <ion-img alt="{{nombreProducto}}" src="{{urlRoot}}/images/{{fotoProducto}}" 
    style="max-width:300px;max-height: 300px;"></ion-img>
  </ion-card-header>
  <ion-card-header>
    <ion-card-title><span style="font-weight:bold;font-size: 22px;">{{nombreProducto}}</span></ion-card-title>    
  </ion-card-header>

  <ion-card-content style="font-size: 20px;">
    {{descripcionProducto}}
  </ion-card-content>

  

  

  
  
</ion-card>
</ion-content>