// home.page.scss

ion-content {
  --background: #f4f4f4; // Cambia el fondo del contenido si es necesario
}

ion-grid {
  padding: 16px;
}

.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menu-item {
  text-align: center;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

ion-list {
  display: block; /* Cambiado a block para estirarlo verticalmente */
  background-color: rgb(116, 9, 9);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0; /* Ajustar padding si es necesario */
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-top: 10px;
  --inner-padding-bottom: 10px;
  cursor: pointer;
  color: black; /* Cambiar color del texto a blanco */

  &:hover {
    background-color: #f1f1f1;
    color: black; /* Cambiar color del texto al hacer hover */
  }
}

// Estilos específicos para el submenu
// .submenu {
//   position: absolute;
//   z-index: 10;
//   background-color: white(116, 9, 9);
//   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
//   border-radius: 4px;
//   overflow: hidden;
//   width: 200px; /* Ajustar el ancho según sea necesario */
// }

.submenu {
  position: absolute;
  z-index: 10;
  background-color: white(116, 9, 9); // Corregido para usar la notación de color RGB
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  width: 250px; // Ajustar el ancho según sea necesario
  left: 80%; // Esto posicionará el submenú a la derecha del elemento padre
  top: 10; // Asegúrate de que el submenú esté alineado verticalmente
}


