<ion-content>
<ion-header>
  <ion-toolbar>   
    <ion-buttons slot="start">     
      <ion-button class="custom-back-button"   (click)="cancel()">
        <ion-icon name="arrow-back-sharp" style="font-size: 22px;color:#5BA4C0;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered-title" style="margin-top: 15px;">
    <ion-label style="font-size: 22px;font-family: 'Montserrat', sans-serif;">{{nombreCategoria}}</ion-label>
  </div>

  <ion-grid >
     <ion-row>
      <ion-col  *ngFor="let consulta of productos"  size="12" size-sm="3">
        <ion-card class="product-card"
        (click)="modalMasInfo(consulta.idProducto, consulta.nombreProducto, consulta.descripcionProducto, consulta.fotoProducto, consulta.precioProducto)"
        >
        <ion-card-header>
          <ion-card-title>
            <img *ngIf="consulta.fotoProducto; else sinFoto" 
            [src]="urlRoot + '/images/' + consulta.fotoProducto" 
            alt="{{ consulta.nombreProducto }}" />
            <ng-template #sinFoto>
              <img src="{{urlRoot}}/images/sinfoto.png" alt="Sin foto" />
            </ng-template>
          </ion-card-title>
         
        </ion-card-header>
         

          <ion-card-header class="centered-header">
            <ion-card-title>{{consulta.nombreProducto}}</ion-card-title>
            <ion-card-subtitle style="color:#2a8b58;">En Stock</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
     </ion-row>
        
      
    
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
