<ion-header>
  <ion-toolbar>   
    <ion-buttons slot="start">     
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back-sharp" style="font-size: 22px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="text-align: center;">
    <ion-col style="font-size: 22px;font-family: 'Montserrat', sans-serif;"></ion-col>
  </ion-row>
  <ion-row style="text-align: center;">
    <ion-col style="font-size: 22px;font-family: 'Montserrat', sans-serif;">Mas buscados</ion-col>
  </ion-row>
        <ion-card>              
          <ion-row>
            <ion-col size="6" 
            *ngFor="let consulta of productos" 
            (click)="modalMasInfo(consulta.idProducto, consulta.nombreProducto, consulta.descripcionProducto, consulta.fotoProducto, consulta.precioProducto)">
              <ion-list >
              <ion-item lines="none" >
                <img *ngIf="consulta.fotoProducto; else sinFoto" 
                    [src]="urlRoot + '/images/' + consulta.fotoProducto" 
                    style="margin-top:11px;width:125px;height:125px;"
                     />
                <ng-template #sinFoto>
                  <img src="{{urlRoot}}/images/sinfoto.png" 
                      style="margin-top:11px;width:125px;height:125px;"/>
                </ng-template>
              </ion-item>
              <ion-item lines="none">
                {{consulta.nombreProducto | slice:0:23}}
              </ion-item>
              <ion-item lines="none" >
                <ion-label style="color:#2a8b58;margin-top:-25px;">En Stock</ion-label>
              </ion-item>
              </ion-list>
              
              
            </ion-col>
          </ion-row>
            
        </ion-card>
</ion-content>
