/* Estilos para centrar títulos */
.centered-title {
    text-align: center;
    margin-bottom: 16px; /* Agrega espacio entre el título y los productos */
  }
  
  /* Estilos para centrar contenido de las tarjetas */
  .product-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 300px;
    height: 250px;
    margin-bottom: 0px;

  }
  .centered-header{
      text-align: center;
  }
 

  /* Estilos opcionales para las imágenes */
  .product-card img {
    max-width: 80%; /* Para que las imágenes no se salgan de la tarjeta */
    height: auto;     /* Para mantener la proporción de aspecto */
    margin-bottom: 0px; /* Espacio entre la imagen y el título */
  }
  
/* En tu archivo de estilos */
.custom-back-button {
    --color: #5BA4C0; /* Cambia el color aquí */
  }
  
  /* En tu archivo de estilos */
ion-grid {
    margin-bottom: 50px; /* Ajusta el valor según necesites */
  }
  
// /* En tu archivo de estilos */
// .product-card img {
//     width: 150px; /* Ajusta el valor según necesites */
//     height: 200px; /* Ajusta el valor según necesites */
//     object-fit: cover; /* Opcional: Para que la imagen se ajuste al contenedor sin deformarse */
//   }
  
/* En tu archivo de estilos */
.product-card {
    overflow: hidden; /* Para ocultar el desbordamiento de la imagen */
  }
  
  .product-card img {
    width: 100px;
    height: 100px; /* Ajusta este valor según el tamaño que desees */
    object-fit: cover;
    transition: transform 0.3s ease; /* Transición solo para transform */
  }
  
  .product-card:hover img {
    transform: scale(1); /* No escalar la imagen */
    opacity: 0.8; /* Opacidad inicial */
  transition: opacity 0.3s ease;
  }
  
  .product-card:hover { 
    box-shadow: 0 4px 8px rgba(91, 164, 192, 0.5); /* Sombra en el contenedor */
    opacity: 1; /* Opacidad completa al pasar el ratón */
  }
  
  .product-card .info {
    display: none; /* Ocultar por defecto */
  }
  
  .product-card:hover .info {
    display: block; /* Mostrar al pasar el ratón */
  }
  
  @media (max-width: 768px) {
    .product-card {
      // width: 500px;
      // height: 250px;
      // display: flex;
      // align-items: center;
      // flex-direction: column;
      width: 90%; /* Ancho adaptable */
      max-width: 400px; /* Límite para pantallas muy pequeñas */
      margin: 15px auto; /* Centrado horizontal y espacio vertical */
      padding: 15px; /* Espacio interno */
      box-sizing: border-box; /* Incluye el padding en el ancho */
      display: flex;
      flex-direction: column; /* Elementos en columna */
      align-items: center;

    }
  }

  
  @media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos específicos para tablets */
  
    .product-card {
      /* Ajustes para el diseño de la tarjeta en tablets */
      width: 100%; /* Ejemplo: Dos tarjetas por fila */
      margin: 10px; /* Ajusta el margen según necesites */
      height: 100%;
    }
  
    ion-card-title {
      font-size: 1.2em; /* Ejemplo: Aumenta el tamaño de fuente del título */
    }
  
    ion-card-subtitle {
      font-size: 0.9em; /* Ejemplo: Ajusta el tamaño de fuente de la descripción */
    }
  }



  //Manejo de pantallas 1280 x 800
  @media (min-width: 1280px)  { 
    /* Estilos específicos para pantallas de 1280px a 1366px de ancho */
    .product-card {
      width: 100%; /* Ejemplo: Tres tarjetas por fila */
      margin: 10px; /* Ajusta el margen según necesites */
      height: 100%;
    }
    ion-card-title {
      font-size: 1.2em; /* Ejemplo: Aumenta el tamaño de fuente del título */
    }
  
    ion-card-subtitle {
      font-size: 0.9em; /* Ejemplo: Ajusta el tamaño de fuente de la descripción */
    }
  }

   
   @media (min-width: 1025px)  { 
    /* Estilos específicos para pantallas de 1280px a 1366px de ancho */
    .product-card {
      width: 100%; /* Ejemplo: Tres tarjetas por fila */
      margin: 10px; /* Ajusta el margen según necesites */
      height: 100%;
    }
    ion-card-title {
      font-size: 1.2em; /* Ejemplo: Aumenta el tamaño de fuente del título */
    }
  
    ion-card-subtitle {
      font-size: 0.9em; /* Ejemplo: Ajusta el tamaño de fuente de la descripción */
    }
  }

