<!-- Menú horizontal para pantallas grandes -->
<ion-content class="ion-text-center" *ngIf="!pantallaChica">
  <ion-header>
    <ion-toolbar color="white">
      <!-- Logo -->
     
      <ion-header>
        <ion-toolbar color="white">
          <div class="header-content">
            <img class="logo" src="https://i.postimg.cc/qv5xtrh1/8530a21d-816b-4a00-9f2f-591f0c6ce018-Whats-App-Image-2024-04-04-at-1-03-59-PM.webp" alt="Logo" slot="start" (click)="toggleMenu()">
            <div class="menu-container" *ngIf="mostrarMenu">
              </div>
          </div>
        </ion-toolbar>
      </ion-header>
      
      <!-- Menú horizontal -->
      <div class="menu-container"*ngIf="mostrarMenu">
        <ion-list lines="none" class="horizontal-menu">
          <ion-item (click)="navigateTo('home')" class="menu-item">
            <ion-label>Home</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('productos')" class="menu-item">
            <ion-label>Productos</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('quienes-somos')" class="menu-item">
            <ion-label>Nosotros</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('ubicacion')" class="menu-item">
            <ion-label>Ubicación</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('servicios')" class="menu-item">
            <ion-label>Servicios</ion-label>
          </ion-item>
          <ion-item (click)="iniciarBusqueda()">
            <ion-icon name="search-circle-sharp"></ion-icon>
          </ion-item>
          <ion-item *ngIf="mostrarBusqueda">
            <ion-input placeholder="Buscar" (input)="realizarBusqueda($event)"></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </ion-toolbar>
  </ion-header>


  <!-- FLECHAS Y SLIDER -->
  <ion-slides pager="false" [options]="slideOpts" #slider class="image-slider">
    <ion-slide *ngFor="let photo of photos">
      <div class="slide-content">  
        <img [src]="photo">
      </div>
    </ion-slide>
  </ion-slides>
  
 
  
  

 