.menu-container {
  display: flex; /* Habilitar flexbox para diseño horizontal */
  justify-content: center; /* Centrar el contenido horizontalmente */

  /* Estilos predeterminados para pantallas pequeñas (menú vertical) */
  flex-direction: column;
  align-items: center;

  /* Consulta de medios para pantallas más grandes (menú horizontal) */
  @media (min-width: 768px) { /* Ajustar punto de interrupción según sea necesario */
    flex-direction: row;
    align-items: stretch;
  }
}

.horizontal-menu {
  display: flex; /* Mantener flexbox para disposición horizontal */
  width: 100%; /* Asegurar ancho completo para el menú horizontal */
  border: none; /* Eliminar borde predeterminado para una apariencia más limpia */
  justify-content: center; /* Centrar el contenido horizontalmente */

  .menu-item {
    position: relative; /* Establecer posición relativa para el efecto de iluminación */

    /* Ajustar estilos para diseño horizontal (opcional) */
    padding: 10px 20px; /* Ejemplo de relleno para elementos del menú horizontal */
    border-right: none; /* Separador opcional entre elementos */
    transition: font-size 0.3s; /* Transición suave para el cambio de tamaño del texto */

    &:last-child {
      border-right: none; /* Eliminar borde para el último elemento */
    }

    &:hover {
      font-size: 1.2em; /* Aumentar el tamaño del texto al pasar el cursor */
    }

    &:before {
      content: ''; /* Crear un pseudo-elemento para el efecto de iluminación */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #ff00ff, #00ffff, #ffff00, #ff00ff); /* Colores del efecto neon */
      background-size: 400% 400%; /* Tamaño del degradado */
      border-radius: 5px; /* Borde redondeado */
      z-index: -1; /* Colocar detrás del texto */
      opacity: 0; /* Inicialmente oculto */
      transition: opacity 0.5s; /* Transición suave para la opacidad */
      pointer-events: none; /* Evitar la interacción con el pseudo-elemento */
    }

    &:hover:before {
      opacity: 1; /* Mostrar el efecto de iluminación al pasar el cursor */
    }
  }
}





ion-slides {
  margin-top: 20px;
  padding: 20px;
  
}

ion-slide {
  border-radius: 10px;
  img {
    border-radius: 10px;
  }
  .swiper-slide-active {
    img{
      box-shadow: 0px 5px 6px 1px red($color: #c310108b);
    }
  }


}


