<ion-content>
  <ion-header>
    <ion-toolbar color="white"> 
      <!-- Logo -->
      <img src="https://i.postimg.cc/qv5xtrh1/8530a21d-816b-4a00-9f2f-591f0c6ce018-Whats-App-Image-2024-04-04-at-1-03-59-PM.webp" alt="Logo" slot="start" width="100" height="auto" style="margin-left: 10px;">
      
      <!-- Menú horizontal -->
      <div class="menu-container">
        <ion-list lines="none" class="horizontal-menu">
          <ion-item (click)="navigateTo('home')" class="menu-item">
            <ion-label>Inicio</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('productos')" class="menu-item">
            <ion-label>Productos</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('quienes-somos')" class="menu-item">
            <ion-label>Quiénes Somos</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('ubicacion')" class="menu-item">
            <ion-label>Ubicación</ion-label>
          </ion-item>
          <ion-item (click)="navigateTo('servicios')" class="menu-item">
            <ion-label>Servicios</ion-label>
          </ion-item>
          <ion-item (click)="iniciarBusqueda()">
            <ion-icon name="search"></ion-icon>
          </ion-item>
          
          <ion-item *ngIf="mostrarBusqueda">
            <ion-input placeholder="Buscar" (input)="realizarBusqueda($event)"></ion-input>
          </ion-item>
          
        </ion-list>
      </div>
    </ion-toolbar>
  </ion-header>
  
  
  

<!-- SLIDER FUNCIONAL -->

  <div class="ContainerCenter">
    <!-- Radio Seleccionar -->
    <input type="radio" name="Carrusel" id="Slider1" checked>
    <input type="radio" name="Carrusel" id="Slider2">
    <input type="radio" name="Carrusel" id="Slider3">

    <div class="Carrusels">
      <!-- Imagen contenido -->
      <div class="Carrusel" style="background-image: url(https://i.postimg.cc/nL407mTx/logo.png);"></div>
      <div class="Carrusel" style="background-image: url(https://i.postimg.cc/rFSmb2LK/IMG-20240429-WA0035.jpg);"></div>
      <div class="Carrusel"
        style="background-image: url(https://i.postimg.cc/gchkXbjN/IMG-20240429-WA0025.jpg);">
      
      </div>

      


      <!-- Flechas a la izquierda por cada imagen -->
      <label for="Slider3" class="ArrowLeft Arrow1">❮</label>
      <label for="Slider1" class="ArrowLeft Arrow2">❮</label>
      <label for="Slider2" class="ArrowLeft Arrow3">❮</label>


      <!-- Flechas a la derecha por cada imagen -->
      <label for="Slider2" class="ArrowRight Arrow1">❯</label>
      <label for="Slider3" class="ArrowRight Arrow2">❯</label>
      <label for="Slider1" class="ArrowRight Arrow3">❯</label>

    </div>

  </div>


  

</ion-content>