<ion-content class="ion-text-center" *ngIf="!pantallaChica">
  <ion-header>
    <ion-toolbar color="white">
      <!-- Logo -->
      <div class="header-content">
        <img class="logo" src="https://i.postimg.cc/qv5xtrh1/8530a21d-816b-4a00-9f2f-591f0c6ce018-Whats-App-Image-2024-04-04-at-1-03-59-PM.webp" alt="Logo" slot="start" (click)="toggleMenu()">
        <div class="menu-container" *ngIf="mostrarMenu"></div>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <!-- Menú horizontal -->
  <div class="menu-container" *ngIf="mostrarMenu">
    <ion-list lines="none" class="horizontal-menu">
      <ion-col class="menu-item" (click)="navigateTo('inicio')">
        Detergentes
      </ion-col>
      <ion-col class="menu-item" (click)="navigateTo('servicios')">
        Desinfectantes
      </ion-col>
      <ion-col class="menu-item" (click)="navigateTo('servicios')">
        Ceras y Lustradores
      </ion-col>
      <ion-col class="menu-item" (click)="navigateTo('servicios')">
        Auxiliares Textiles
      </ion-col>
      <ion-grid>
    <ion-row class="menu-row">
      
      
      
      
      <ion-col #otrosProductosBtn class="menu-item" (click)="toggleProductosMenu()">
        Otros Productos
        <ion-icon name="caret-down" *ngIf="productosMenuOpen"></ion-icon>
        <ion-icon name="caret-forward" *ngIf="!productosMenuOpen"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="productosMenuOpen && otrosProductosBtn" [ngStyle]="{ width: submenuWidth + 'px', top: otrosProductosBtn.nativeElement.offsetTop + otrosProductosBtn.nativeElement.offsetHeight + 'px', left: otrosProductosBtn.nativeElement.offsetLeft + 'px' }" class="submenu">
      <ion-col>
        <ion-list>
          <ion-item (click)="navigateTo('detergentes')">
            Líquidos Baja Espuma
          </ion-item>
          <ion-item (click)="navigateTo('lavandina')">
            Perfumes Para La Ropa
          </ion-item>
          <ion-item (click)="navigateTo('otros')">
            Perfuminas
          </ion-item>
          <ion-item (click)="navigateTo('otros')">
            Limpiadores y Desengrasantes
          </ion-item>
          <ion-item (click)="navigateTo('otros')">
            Jabones Líquidos
          </ion-item>
          <ion-item (click)="navigateTo('otros')">
            Línea Automotor
          </ion-item>
          <ion-item (click)="navigateTo('otros')">
            Desodorantes tradicionales
          </ion-item>
          <ion-item (click)="navigateTo('otros')">
            Desodorantes Pinos
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
      <ion-item (click)="iniciarBusqueda()">
        <ion-icon name="search-circle-sharp"></ion-icon>
      </ion-item>
      <ion-item *ngIf="mostrarBusqueda">
        <ion-input placeholder="Buscar" (input)="realizarBusqueda($event)"></ion-input>
      </ion-item>
    </ion-list>
  </div>
  
  

  <!-- FLECHAS Y SLIDER -->
  <ion-slides pager="false" [options]="slideOpts" #slider class="image-slider">
    <ion-slide *ngFor="let photo of photos">
      <div class="slide-content">
        <img [src]="photo">
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>


