<ion-content>
  <ion-header>
    <ion-toolbar>
      <div class="container">
        <div class="contenedor-logo">
          <img src="../../assets/logo-codificardev.svg" alt="Logo CodificAr Dev">
        </div>
        <div class="contenedor">
          <ion-buttons>
            <ion-button *ngIf="!mostrarBusqueda" (click)="abrirModal();">DETERGENTES</ion-button>
            <ion-button *ngIf="!mostrarBusqueda" (click)="abrirModal();">DESINFECTANTES</ion-button>
            <ion-button *ngIf="!mostrarBusqueda" (click)="abrirModal();">CERAS</ion-button>
            <ion-button *ngIf="!mostrarBusqueda" (click)="abrirModal();">AUXILIARES</ion-button>
            <ion-accordion-group class="contenedor" expand="inset" *ngIf="!mostrarBusqueda">
              <ion-accordion value="otros-productos">
                <ion-item slot="header">
                  <ion-label>OTROS PRODUCTOS</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content" (click)="abrirModal();">MOPAS</div>
                <div class="ion-padding" slot="content" (click)="abrirModal();">SUAVIZANTES</div>
                <div class="ion-padding" slot="content" (click)="abrirModal();">LAVANDINA</div>
                <div class="ion-padding" slot="content" (click)="abrirModal();">TRAPOS</div>
              </ion-accordion>
            </ion-accordion-group>
            <ion-button *ngIf="mostrarBusqueda">
              <ion-searchbar class="custom-searchbar" placeholder="Buscar producto" (input)="realizarBusqueda($event)"></ion-searchbar>
            </ion-button>
            <ion-button *ngIf="!mostrarBusqueda" (click)="iniciarBusqueda()"><ion-icon name="search-sharp"></ion-icon></ion-button>
            <ion-button *ngIf="mostrarBusqueda" (click)="iniciarBusqueda()"><ion-icon name="close-sharp"></ion-icon></ion-button>
          </ion-buttons>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <swiper-container class="image-slider" [slidesPerView]="1" [loop]="true" navigation="true"
  pagination="true" centered-slides="true"autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide><ion-img class="imgBanner" src="https://zonazero.nyc3.cdn.digitaloceanspaces.com/dev/15536367e8a2169aa3b6bf35c66f9646.jpg"></ion-img></swiper-slide>
    <swiper-slide><ion-img class="imgBanner" src="https://zonazero.nyc3.cdn.digitaloceanspaces.com/dev/9672053fa2213156bbf46107f308094a.jpg"></ion-img></swiper-slide>
    <swiper-slide><ion-img class="imgBanner" src="https://zonazero.nyc3.cdn.digitaloceanspaces.com/dev/15536367e8a2169aa3b6bf35c66f9646.jpg"></ion-img></swiper-slide>
  </swiper-container>

  <!-- Contenido adicional -->
  <div class="content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
    <!-- Otros textos o contenido adicional -->
  </div>

  <ion-footer collapse="fade">
    <ion-toolbar>
      <div class="footer-row">
        <div class="social-icons">
          <a href="https://www.instagram.com/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="https://www.facebook.com/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
          <a href="https://wa.me/NUMERODETELEFONO" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a href="https://www.linkedin.com/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        </div>
        <div class="developed-by">
          <span>Desarrollado por</span>
          <a href="https://www.codificardev.com.ar" target="_blank"><img src="../../assets/logo-codificardev.svg" alt="Logo CodificAr Dev"></a>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
