@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

ion-header {
  z-index: 10;
  /* Asegura que esté por encima del contenido */
}

.foto {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor {
  background-color: transparent !important;
  display: inline-block;
  position: relative;
  margin-right: 25px;
}

.contenedor ion-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: black;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .contenedor {
    top: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-logo {
    margin: 10px 0;
    /* Añadir margen superior e inferior de 10px */
    display: flex;
    justify-content: center;
    width: 100%;
    
    
  }

  .contenedor ion-buttons {
    justify-content: center;
    flex-direction: column;
    /* Cambia la dirección a columna */
    align-items: center;
  }
}

.contenedor-logo {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
  
}

.lupa {
  display: inline-block;
  margin-right: 100px;
}

@media (max-width: 768px) {
  .lupa {
    margin-right: 20px;
  }
}

.otros {
  --border-style: none;
  --color: black;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .contenedor ion-buttons {
    gap: 5px;
  }
}

ion-input {
  width: 100px;
  color: teal;
}

ion-accordion {
  --border-width: 0;
  width: auto;
}

ion-accordion::part(container) {
  position: static;
}



//FOOTER
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.social-icons a {
  margin: 0 10px;
  /* Espacio entre los iconos */
  display: inline-flex;
  /* Para centrar el icono verticalmente */
  align-items: center;
}

.social-icons ion-icon {
  font-size: 20px;
  /* Tamaño inicial del icono */
  color: #5BA4C0;
  /* Color negro por defecto */
  transition: all 0.3s ease;
  /* Transición suave para los cambios */
}

.social-icons a:hover ion-icon {
  font-size: 28px;
  /* Agrandar al pasar el mouse */
  color:#5BA4C0;
  /* Color aqua al pasar el mouse */
  text-shadow: 0 2px 4px #5BA4C0;
  /* Sombra #5BA4C0 */
}

.developed-by {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-right: 10px;
}

.developed-by img {
  width: 120px;
  margin-left: 10px;
  
}

//TEXTO DESARROLLADO POR
span {
  color: #5BA4C0;
}


//CENTRADO DE LOGO EN PANTALLAS CHICAS
@media (max-width: 768px) {
  .contenedor-logo {
    margin-left: -50px;
  }
  .search-container{margin-left:28px;}
}



//MAPA CON MARCADOR DE SUCURSAL
.map-container {
  width: 90%;
  /* Ancho inicial amplio para ocupar la mayor parte de la pantalla */
  max-width: 1000px;
  /* Límite máximo para pantallas muy grandes */
  height: 400px;
  /* Altura inicial razonable */
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  /* Transición suave para la sombra al pasar el mouse */
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Hover effect SUTIL EN EL MAPA */
.map-container:hover {
  box-shadow: 0 6px 12px rgba(91, 164, 192, 0.5);
}


//SOMBREADO SUTIL EN TITULO SUCURSAL
.sucursal-titulo {
  font-family: 'Roboto', sans-serif !important;
  /* Fuente elegante */
  font-size: 1.5em;
  /* Tamaño de fuente grande */
  font-weight: 500;
  /* Negrita para destacar */
  color: #3C3F44;
  /* Color de texto oscuro */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra sutil */
  margin-bottom: 10px;
  /* Espacio entre el título y la dirección */
  text-align: left;
  margin-left: 35px;
  width:100%;

}

//TARJETAS
ion-card {
  font-family: 'Roboto', sans-serif !important;
  background-color: white;
  /* Fondo blanco base */
  overflow: hidden;
  /* Para que la salpicadura no se desborde */
  position: relative;
  /* Para posicionar el pseudoelemento */
  text-align: justify;
  /* Centra el texto horizontalmente */
  padding: 10px;
  /* Margen de 10px en todos los lados */


}

ion-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 20% 30%, #5BA4C0 10%, transparent 11%),
    radial-gradient(circle at 80% 70%, #5BA4C0 10%, transparent 11%),
    radial-gradient(circle at 40% 90%, #5BA4C0 10%, transparent 11%);

  opacity: 0.3;
  /* Ajusta la opacidad para que sea más sutil */
  z-index: -1;
  /* Coloca el efecto detrás del contenido de la tarjeta */
  mix-blend-mode: multiply;
  /* Para mezclar los colores con el fondo blanco */
  color: #3C3F44;
}


.card-container {
  padding: 30px;
  border-radius: 12px;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: 'Roboto', sans-serif !important;
  /* Fuente elegante */
  display: flex;
  /* Activa Flexbox */
  justify-content: center;
  /* Centra las tarjetas horizontalmente */
  gap: 20px;
}

.card-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.ion-card2 {
  font-family: 'Roboto', sans-serif !important;
  background-color: white;
  /* Fondo blanco base */
  overflow: hidden;
  /* Para que la salpicadura no se desborde */
  position: relative;
  /* Para posicionar el pseudoelemento */
  text-align: center;
  /* Centra el texto horizontalmente */
  padding: 10px;
  /* Margen de 10px en todos los lados */
  width: 300px;
  /* Ajusta el ancho de las tarjetas según tus necesidades */


}

/* ESTILOS SLIDER */
.my-swiper {
  width: 90%;
  /* Ancho del slider */
  margin: 0 auto;
  /* Centrar el slider */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container ion-searchbar {
  flex: 1;
}

.search-container ion-button {
  margin-left: 8px;
}

.search-results-container {
  padding: 0 16px;
}

.search-results {
  width: 100%;
}

.custom-searchbar {
  width: 100%;
}


.product-image {
  max-width: 100px;
  max-height: 100px;
}

@media (min-width: 768px) {
  .product-image {
    max-width: 50%; /* En pantallas medianas, ocupa el 50% del ancho */
  }
  .large-screen {
    display: block !important;
  }
}

@media (min-width: 1024px) {
  .product-image {
    max-width: 30%; /* En pantallas grandes, ocupa el 30% del ancho */
  }
  .large-screen {
    display: block !important;
  }
}



.grid-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.search-results {
  width: 80%; /* Ajusta este valor según el ancho deseado */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  max-width: 100px;
  max-height: 100px;
}



ion-col.size-auto {
  flex: 1;
  text-align: center;
}



