<ion-content>
  <ion-header>
    <ion-toolbar>
      <!-- LOGO -->
      <div class="container">
        <div class="contenedor-logo">
          <a href="#"><img src="../../assets/LOGO_SURCLEAN_4.svg" alt="Logo Surclean"></a>
        </div>
        <!-- MENU DE NAVEGACIÓN -->
        <div class="contenedor">
          
          <ion-buttons>
          <ion-label *ngFor="let categoria of categorias" >
            <ion-button   *ngIf="!mostrarBusqueda" (click)="modalResultados(categoria.idCategoria, categoria.nombreCategoria);">             
                {{categoria.nombreCategoria}}              
            </ion-button>              
          </ion-label>
              
              
            
            <ion-accordion-group class="contenedor" expand="inset" *ngIf="!mostrarBusqueda">
              <ion-accordion value="otros-productos">
                <ion-item slot="header">
                  <ion-label>OTROS PRODUCTOS</ion-label>
                </ion-item>
                <div *ngFor="let categoriaOtro of categoriasOtros" class="ion-padding" slot="content" 
                (click)="modalResultados(categoriaOtro.idCategoria, categoriaOtro.nombreCategoria);" style="cursor: pointer;">
                  {{categoriaOtro.nombreCategoria}}
                </div>                
              </ion-accordion>
            </ion-accordion-group>
            <div class="search-container" *ngIf="mostrarBusqueda">
              <ion-searchbar class="custom-searchbar" show-clear-button="never" show-cancel-button="never"
              placeholder="Buscar producto" (ionInput)="buscarProductos($event)"></ion-searchbar>
              <ion-button (click)="iniciarBusqueda()"><ion-icon name="close-sharp"></ion-icon></ion-button>
            </div>
            <ion-button *ngIf="!mostrarBusqueda" (click)="iniciarBusqueda()"><ion-icon name="search-sharp"></ion-icon></ion-button>
          </ion-buttons>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>  
  
  <div class="grid-wrapper">
    <ion-grid *ngIf="mostrarBusqueda && productos.length > 0" class="search-results">
      <ion-row *ngFor="let resultado of productos" class="align-center row-content" style="cursor: pointer;"
      (click)="modalMasInfo(resultado.idProducto, resultado.nombreProducto, resultado.descripcionProducto, resultado.fotoProducto, resultado.precioProducto)">
        <!-- Columna adicional solo visible en pantallas grandes -->
         
        <ion-col size="4" class="align-center ion-hide large-screen">
        </ion-col>
        <ion-col size="auto" class="align-center">
          <img src="{{urlRoot}}/images/{{ resultado.fotoProducto }}" class="product-image"/>
        </ion-col>
        <ion-col size="auto" class="align-center">
          {{ resultado.nombreProducto }}
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- SLIDER -->
  <swiper-container class="image-slider" [slidesPerView]="1" [loop]="true" navigation="true"
  pagination="false" centered-slides="true" autoplay-delay="3000" autoplay-disable-on-interaction="false">
    <swiper-slide><ion-img class="imgBanner" src="../../assets/IMAGEN_PAG_1.png"></ion-img></swiper-slide>
    <swiper-slide><ion-img class="imgBanner" src="../../assets/IMAGEN_PAG_2.png"></ion-img></swiper-slide>
    <swiper-slide><ion-img class="imgBanner" src="../../assets/IMAGEN_PAG_3.png"></ion-img></swiper-slide>
  </swiper-container>

  <!-- TARJETA -->
  <ion-card class="card-container">
    <ion-card-content>
      Somos una pequeña empresa dedicada a la fabricación de productos químicos, comprometida a ofrecer productos de limpieza, desinfección y sanitización de alta calidad a precios competitivos. Nuestro objetivo es ser la primera alternativa para nuestros clientes, brindando una amplia gama de productos como detergentes, suavizantes de ropa, líquidos baja espuma, soluciones para el cuidado del automotor, limpieza de baños, cocina y pisos. Valoramos la honestidad, la transparencia, el servicio al cliente, la calidad y el asesoramiento técnico en cada paso de nuestro proceso.
    </ion-card-content>
  </ion-card>

  <!-- LOGO -->
  <img class="foto" src="../../assets/LOGO_SURCLEAN_4.svg" alt="Logo surclean">
  <h2 class="sucursal-titulo">Nuestra Sucursal</h2>

  <!-- MAPA -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.2112936233602!2d-58.36912112520551!3d-34.725068063915444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a332add2d5c173%3A0xca7e811a968d8607!2sAv.%209%20de%20Julio%203373%2C%20B1825ALC%20Lan%C3%BAs%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1717151842060!5m2!1ses-419!2sar" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <!-- TARJETA -->
  <ion-card class="card-container">
    <ion-card-content>
      Somos una pequeña empresa dedicada a la fabricación de productos químicos, comprometida a ofrecer productos de limpieza, desinfección y sanitización de alta calidad a precios competitivos. Nuestro objetivo es ser la primera alternativa para nuestros clientes, brindando una amplia gama de productos como detergentes, suavizantes de ropa, líquidos baja espuma, soluciones para el cuidado del automotor, limpieza de baños, cocina y pisos. Valoramos la honestidad, la transparencia, el servicio al cliente, la calidad y el asesoramiento técnico en cada paso de nuestro proceso.
    </ion-card-content>
  </ion-card>

  <!-- FOOTER -->
  <ion-footer collapse="fade">
    <ion-toolbar>
      <div class="footer-row">
        <div class="social-icons">
          <a href="https://www.instagram.com/surcleanquimica/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="https://wa.me/+541137390935" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a href="mailto:ventas@codificardev.com.ar"><ion-icon name="mail-outline"></ion-icon>
          </a>
        </div>
        <div class="developed-by">
          <span>Desarrollado por</span>
          <a href="https://www.codificardev.com.ar" target="_blank"><img src="../../assets/logo-codificardev.svg" alt="Logo CodificAr Dev"></a>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
