:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

/* *{font-family: 'arial';}*/

.avatar{border-radius: 50%; width: 150px; height: 150px; margin-top:10px;}

/* DOES NOT WORK - not specific enough */
.alert-wrapper {
background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .alert-wrapper {
background: #e5e5e5;
}
.ion-card-content-class{
max-width: 300px;
text-align: justify;

}

.isCSS{
  text-align:center;
  max-width: 240px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.centrar{
  margin-left:70px;margin-right: 70px;max-width: 350px;
  text-align: justify;
}



.estrellita{
color:gold;
}

.error{color:red;}
